.bar {
          fill: steelblue;
        }

        .bar:hover {
          fill: brown;
        }

        .axis {
          font: 10px sans-serif;
        }

        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .x.axis path {
          display: none;
        }

    .d3-tip{
        margin-top: 13%;
        font-weight: bold;
        border-radius: 3px;
        color: white;
        background: rgba(0,0,0,0.9); 
    }